:root {
  --primarySoftBlue: hsl(215, 51%, 70%);
  --primaryCyan: hsl(178, 100%, 50%);
  --White: hsl(0, 0%, 100%);
  --neutralVeryDarkBlueBG: hsl(217, 54%, 11%);
  --neutralVeryDarkBlueCardBG: hsl(216, 50%, 16%);
  --neutralVeryDarkBlueLine: hsl(215, 32%, 27%);
  --font: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  color: var(--primarySoftBlue);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--neutralVeryDarkBlueBG);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: 1rem;
  border-radius: 10px;
  padding: 2.5rem;
  background-color: var(--neutralVeryDarkBlueCardBG);
}

.white-text {
  color: var(--White);
  cursor: pointer;
}

.cyan-text {
  color: var(--primaryCyan);
}

.white-text:hover {
  color: var(--primaryCyan);
}

#box-1 {
  position: relative;
  transition: 0.4s;
}

#box-1 img {
  width: 100%;
  border-radius: 10px;
  transition: 1s;
}

#box-1:hover #overlay {
  z-index: 1;
  opacity: 0.4
}

#box-1:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: url(./images/icon-view.svg) var(--primaryCyan) no-repeat center center;
  z-index: 1;
  opacity: 0.4;
}

#box-text {
  margin: 3rem 0 2.5rem 0;
}

#box-text h1 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

#box-text p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 600;
}

.info-box {
  display: flex;
  align-items: center;
}

.info span {
  margin-left: 0.5rem;
}

#box-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.6rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--neutralVeryDarkBlueLine);
}

#box-author #img-avatar {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: 1px solid var(--White);
  margin-right: 1rem;
}


/* .mainbox {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  max-width: 350px;
  height: 600px;
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cube {
  width: 90%;
  height: 50%;
  margin: 20px auto;
  border-radius: 20px;
  background-image: url(./images/image-equilibrium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cube>div {
  width: 100%;
  height: 100%;
  z-index: 999;
  border-radius: 20px;
}

.cube>div:hover {
  background-color: hsl(178, 100%, 50%, 0.50);
}

.cube:hover {
  background-image: url(./images/icon-view.svg), url(./images/image-equilibrium.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: center, 0 0;
}


h1 {
  font-size: 24px;
  margin: 10px 20px;
  color: white;
}

p.text {
  font-weight: 300;
  margin: 20px;
}

.middle-box {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
}

.eth-img {
  float: left;
  margin-right: 10px;
  padding-top: 3px;
}

.eth {
  float: left;
  font-weight: 600;
  color: hsl(178, 100%, 50%);
}

.clock-img {
  float: right;
  margin-right: 10px;
  vertical-align: middle;
}

.clock {
  float: right;
  font-weight: 300;
  vertical-align: middle;
}

.avatar {
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 50%;
  width: 10%;
  float: left;
}

.jules {
  border-top: 1px solid hsl(215, 51%, 70%);
  font-size: 0.90em;
  font-weight: 300;
  margin: 20px;
  padding-top: 15px;
  line-height: 30px;
}

.name {
  color: white;
}

h1:hover,
.name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

@media (max-width: 375px) {
  .mainbox {
    width: 320px;
    height: 550px;
  }

  .cube {
    width: 280px;
  }

  p.text {
    font-size: 16px;
  }
} */